/* @import url(https://fonts.googleapis.com/css?family=Exo:100,200,400);
@import url(https://fonts.googleapis.com/css?family=Source+Sans+Pro:700,400,300); */

/* 

.login{
	position: absolute;
	top: calc(50% - 75px);
	left: calc(50% - 50px);
	height: 150px;
	width: 350px;
	padding: 10px;
	z-index: 2;
}

.login input[type=text]{
	width: 250px;
	height: 30px;
	background: transparent;
	border: 1px solid rgba(255,255,255,0.6);
	border-radius: 2px;
	color: #fff;
	font-family: 'Exo', sans-serif;
	font-size: 16px;
	font-weight: 400;
	padding: 4px;
}

.login input[type=password]{
	width: 250px;
	height: 30px;
	background: transparent;
	border: 1px solid rgba(255,255,255,0.6);
	border-radius: 2px;
	color: #fff;
	font-family: 'Exo', sans-serif;
	font-size: 16px;
	font-weight: 400;
	padding: 4px;
	margin-top: 10px;
}

.login input[type=button]{
	width: 260px;
	height: 35px;
	background: #fff;
	border: 1px solid #fff;
	cursor: pointer;
	border-radius: 2px;
	color: #a18d6c;
	font-family: 'Exo', sans-serif;
	font-size: 16px;
	font-weight: 400;
	padding: 6px;
	margin-top: 10px;
}

.login input[type=button]:hover{
	opacity: 0.8;
}

.login input[type=button]:active{
	opacity: 0.6;
}

.login input[type=text]:focus{
	outline: none;
	border: 1px solid rgba(255,255,255,0.9);
}

.login input[type=password]:focus{
	outline: none;
	border: 1px solid rgba(255,255,255,0.9);
}

.login input[type=button]:focus{
	outline: none;
}

::-webkit-input-placeholder{
   color: rgba(255,255,255,0.6);
}

::-moz-input-placeholder{
   color: rgba(255,255,255,0.6);
} */
body{
    background: url("/images/bg.png") no-repeat center;
    background-size: cover;
	
}
.allform{
	text-align: center;
	margin-bottom:  100px;
	margin-top: 100px;
}
.error{
	color: red;
	font-size: 20px;
}
.register{
	display: none;
	text-align: center;


}




input{
	width: 400px;
	height: 30px;
	padding: 20px;
	margin-top: 10px;

}
 input[type=password]{

	background: transparent;
	border: 1px solid rgba(165, 156, 156, 0.6);
	border-radius: 2px;
	color: rgb(255, 255, 255);
	font-family: 'Exo', sans-serif;
	font-size: 16px;
	font-weight: 400;

}
input[type=number]{

	background: transparent;
	border: 1px solid rgba(165, 156, 156, 0.6);
	border-radius: 2px;
	color: rgb(255, 255, 255);
	font-family: 'Exo', sans-serif;
	font-size: 16px;
	font-weight: 400;

}
 input[type=email]{

	background: transparent;
	border: 1px solid rgba(165, 156, 156, 0.6);
	border-radius: 2px;
	color: rgb(255, 255, 255);
	font-family: 'Exo', sans-serif;
	font-size: 16px;
	font-weight: 400;

}
 input[type=text]{

	background: transparent;
	border: 1px solid rgba(165, 156, 156, 0.6);
	border-radius: 2px;
	color: rgb(255, 255, 255);
	font-family: 'Exo', sans-serif;
	font-size: 16px;
	font-weight: 400;

}
 input[type=button]{

	background: #F85D0A;
	color: rgb(255, 255, 255);
	font-size: 20px;
	margin: 10;
	margin-bottom: 20px;
	padding-bottom: 30;
   


	
}
.signup{
	background: transparent;
	color: rgb(255, 255, 255);
	font-size: 20px;
	width: 300px;
	height: 30;
	border: 1px solid transparent;
	margin-bottom: 20px ;
}
.signup:hover{
	color:#F85D0A

}



