
.check_user{
    padding-top:200px ;
    text-align: center;
    font-size: 40;
    color: #3b3737;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}


.cartstyle{
   
    text-align: center;
   padding-top:  150;
   padding-left: 150;
}
table{
    width: 90%;
   
    
}


.cart_info img{
    width: 100;
    height: 100; 
    float: left;
    padding-right: 10;
}
.cart_info{
    padding: 10 ;
}
td{
    padding: 10px 10 px;
}

td a{
    color: #ff523b;
    font-size: 13px;
}


th{
    text-align: left;
    padding: 20px;
    color: #fff;
    background: #ff523b;
    font-weight: normal;
}






.count_style{
    font-size: 20;
    font-weight: 500;
    color: rgb(78, 74, 74);
}

.checkout{
    width: 300px;
    height: 40;;
    background: #ff523b;
    color: #fff;
    border-radius: 10px;
    border: 0px #fff solid;
}





.details{
    background-color: #ff523b;

    color: white;
    padding: 10;
    margin: 20;
    border: none;
    border-radius: 10;
}
#view_details_div{
display: none;
/* //width: 90%; */

}

.details_style_product{
    font-size: 20;
    font-weight: 500;
    color: rgb(78, 74, 74);
    text-align: center;

}
#back_home_event{
    text-align: center;
    background-color: #ff523b;
    color: white;
    border: none;
    padding: 15;
    margin: 0;
    position: absolute;
    padding: 20;
    left: 50%;
    width: 200px;
   
    
    
}